#!bin/sh

dwmblocks &
feh --recursive --randomize --bg-fill ~/Pictures/wallpapers/* &
nm-applet &
picom -b
xfce4-power-manager &
vmware-user &
xset r rate 300 50 
setxkbmap -option caps:escape
# swap escape and caps
# setxkbmap -option caps:swapescape
fcitx5 &
xrdb ~/.Xresources

# Monitor Config
# xrandr --auto --output DVI-D-0 --mode 2560x1440 --left-of HDMI-0

# Don't Randomly Turn off
# xset s off
# xset -dpms
# xset s noblank

# For QT Themes
# export QT_QPA_PLATFORMTHEME=qt5ct

# Compositor

# Hide mouse when typing
# xbanish &

# Screenshots
# flameshot &

# Bluetooth systray icon
# blueman-applet &

# TODO:Easy file sharing pcloudcc
